<form action="" method="post">
    <input type="text" placeholder="Username" name="username" value="{{
              request.form.username }}">
    <input type="password" placeholder="Password" name="password" value="{{
              request.form.password }}">
    <input type="email" placeholder="Email" name="email" value="{{
                request.form.email }}">
    <input type="firstName" placeholder="First Name" name="firstName" value="{{
                    request.form.firstName }}">
    <input type="lastName" placeholder="Last Name" name="lastName" value="{{
                        request.form.lastName }}">
    <input class="btn btn-default" type="submit" value="Register">
</form>